<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= product_name %>システム管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css -->
        <link rel='stylesheet' href='<%= location %>/admintool/stylesheets/bootstrap/css/bootstrap.css' />
        <link rel='stylesheet' href='<%= location %>/admintool/stylesheets/admintool.css' />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="<%= location %>/admintool/js/libs/html5shiv.js"></script>
        <![endif]-->
        <script src='<%= location %>/admintool/js/libs/jquery/jquery-1.10.2.min.js'></script>
    </head>
    <body>
        <!-- Header -->
        <div class="navbar navbar-inverse navbar-fixed-top"><% include ./partial/tenant/header.ejs %></div>
        <!-- Container -->
        <div class="container">
            <div class="row">
                <!-- sub menu -->
                <div class="span3">
                    <% submenu %>

                <% if (submenu == "user") { %>
                    <% include ./partial/tenant/user/submenu.ejs %>
                <% } else { %>
                    <% include ./partial/blankmenu.ejs %>
                <% } %>
                </div>
                <!-- main content -->
                <div class="span9">
                <% if (maincontent == "userlist") { %>
                    <% include ./tenant/user/userlist.ejs %>
                <% } else if (maincontent == "usernew") { %>
                    <% include ./tenant/user/usernew.ejs %>
                <% } else if (maincontent == "usercsv") { %>
                    <% include ./tenant/user/usercsv.ejs %>
                <% } else if (maincontent == "userupdate") { %>
                    <% include ./tenant/user/userupdate.ejs %>
                <% } else { %>
                    <% include ./blank.ejs %>
                <% } %>
                </div>
            </div>
        </div>
        <script src='<%= location %>/admintool/js/libs/bootstrap/bootstrap.js'></script>
    </body>
</html>
