<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title><%= pageTitle %></title>
        <!-- css -->
        <link rel='stylesheet' href='<%= location %>/signup/stylesheets/signup.css' />
        <link rel='stylesheet' href='<%= location %>/signup/stylesheets/bootstrap/css/bootstrap.min.css' />
        <!--[if lt IE 9]>
            <script src="<%= location %>/admintool/js/libs/html5shiv.js"></script>
        <![endif]-->
        <script src='<%= location %>/admintool/js/libs/jquery/jquery-1.10.2.min.js'></script>
    </head>
    <body>
        <!-- Header -->
        <div class="navbar navbar-inverse navbar-fixed-top"><% include /partial/signup_header.ejs %></div>
        <!-- Container -->
        <div class="container">
        <% if(success == true){ %>
            <% include /partial/signup_result.ejs %>
        <% } else { %>
            <% include /tenant/user/usernew.ejs %>
        <% } %>
        </div>
        <script src='<%= location %>/admintool/js/libs/bootstrap/bootstrap.js'></script>
    </body>
</html>