<!-- user sub menu -->
<div class="well sidebar-nav">
    <ul class="nav nav-list" id="userSubMenu">
        <li class="nav-header">ユーザ管理サブメニュー</li>
        <li><a id="userList" href="<%= location %>/admintool/tenant/<%= tid %>/user" target="_top">ユーザ一覧</a></li>
        <% if(updatable) { %>
            <li><a id="userNew" href="<%= location %>/admintool/tenant/<%= tid %>/user/new" target="_top">新規登録</a></li>
            <li><a id="userCsvReg" href="<%= location %>/admintool/tenant/<%= tid %>/user/csvreg" target="_top">一括登録</a></li>
        <% } else { %>
            <li id="userNew" target="_top">新規登録</li>
            <li id="userCsvReg" target="_top">一括登録</li>
        <% } %>
        <li><a id="userCsvUpd" href="<%= location %>/admintool/tenant/<%= tid %>/user/csvupd" target="_top">一括更新</a></li>
    </ul>
</div>