<!--Copyright 2020 NEC Solution Innovators, Ltd.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<h3><%= pageTitle %></h3>
<% if (error) { %>
<div><pre class="license"><%= message %></pre></div>
<% } else { %>
<% if (result) { %>
<% if (message) { %>
<div><pre class="license"><%= message %></pre></div>
<% } %>
    <% if (items) { %>
        <script type="text/javascript">
            function deleteUser(uid) {
                frmPost.action = "<%= location %>/admintool/tenant/<%= tid %>/user/" + uid;
                frmPost._method.value = "delete";
                frmPost.submit();
            };
        </script>
        <div class="">
            <form class="offset7 span5">
                <label class="">ページ内表示件数:</label>
                <select class="input-medium" onchange="location.href=this.value">
                    <%- perPageOptions %>
                </select>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="user-list-tr">
                <th><%= product_name %>アカウント</th>
                <th>ニックネーム</th>
                <th>所属</th>
                <th>利用停止</th>
            </tr>
            </thead>
            <tbody>
            <% if (items) { %>
                <% for (var _userCount = 0; _userCount < items.length; _userCount++) { %>
                    <tr>
                        <td class="user-list-account <%= (items[_userCount].status == 2)? 'line-through' : '' %>"><a href="<%= location %>/admintool/tenant/<%= tid %>/user/<%= items[_userCount].id %>/update?account=<%= items[_userCount].loginAccount %>"><%= items[_userCount].loginAccount %></a></td>
                        <td class="user-list-nickname <%= (items[_userCount].status == 2)? 'line-through' : '' %>"><%= items[_userCount].nickName %></td>
                        <td class="user-list-group <%= (items[_userCount].status == 2)? 'line-through' : '' %>"><%= items[_userCount].group %></td>
                        <% if(updatable) { %>
                            <td class="user-list-status"><input type="checkbox" action="<%= location %>/admintool/tenant/<%= tid %>/user/<%= items[_userCount].id %>/status" ATH="<%= accessTokenHash %>" <%= (items[_userCount].status == 2)? 'checked' : '' %>/></td>
                        <% } else { %>
                            <td class="user-list-status"><input type="checkbox" disabled action="<%= location %>/admintool/tenant/<%= tid %>/user/<%= items[_userCount].id %>/status" ATH="<%= accessTokenHash %>" <%= (items[_userCount].status == 2)? 'checked' : '' %>/></td>
                        <% } %>
                    </tr>
                <% } %>
            <% } %>
            </tbody>
        </table>
        <%- pagination %>
        <form name="frmPost" method="post">
            <input type="hidden" name="_method" value="" />
            <input type="hidden" name="pageIndex" value="<%= currentPage %>" />
            <input type="hidden" name="perPage" value="<%= selectedPerPage %>" />
            <input type="hidden" name="allUserCount" value="<%= allCount %>" />
        </form>
    <% } %>
<% } else { %>
    <p><%= message %></p>
<% } %>

<% } %>
<script src="<%= location %>/admintool/js/userlist_ejs.js"></script>
