<!--Copyright 2020 NEC Solution Innovators, Ltd.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<h3><%= pageTitle %></h3>

<script language="JavaScript">
function enablefields(textid, textid2, ischecked){
  if (ischecked == true){
    document.getElementById(textid).disabled = false;
    document.getElementById(textid2).disabled = false;
  }
  else{
    document.getElementById(textid).value = '';
    document.getElementById(textid2).value = '';
    document.getElementById(textid).disabled = true;
    document.getElementById(textid2).disabled = true;
  }
}
</script>

<% if(error) { %>

<div><pre class="license"><%= message %></pre></div>

<% } else { %>

<form class="form-horizontal" name="userPasswordInfo" method="post" action="<%= actionPath %>">
    <div class="control-group">
        <label class="control-label" ><%= labelAccount %></label>
        <div class="controls">
            <label class="display-control-label"><%= loginAccount %></label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputNickname"><%= nickname %></label>
        <div class="controls">
            <input type="text" id="inputNickname" placeholder="" name="nickname" value="<%= txtNickname %>" maxlength="20"
                <% if (! updatable) { %>
                    disabled
                <% } %>
            />
            <small class="text-error"><%= errMessageNickname %></small>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputGroup"><%= group %></label>
        <div class="controls">
            <input type="text" id="inputGroup" placeholder="" name="group" value="<%= txtGroup %>"
                <% if (! updatable) { %>
                    disabled
                <% } %>
            />
            <small class="text-error"><%= errMessageGroup %></small>
        </div>
    </div>
    <% if(updatable) { %>
    <div class="control-group">
      <label class="control-label" for="changePassword"><%= labelChangePassword %></label>
      <div class="controls">
        <input type="checkbox" name="confirmInput" value="on"
          onclick="enablefields('inputPassword', 'inputConfirmPassword', this.checked);"> Yes
      </div>
    </div>
    <% } %>
    <div class="control-group">
        <label class="control-label" for="inputPassword"><%= labelPassword %></label>
        <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" name="password" required disabled>
            <small class="text-error"><%= errMessagePassword %></small>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputConfirmPassword"><%= labelConfirmPassword %></label>
        <div class="controls">
            <input type="password" id="inputConfirmPassword" placeholder="Password" name="confirmPassword" required disabled>
            <small class="text-error"><%= errMessageConfirmPassword %></small>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="roleslist"><%= labelAccountType %></label>
        <div class="controls">
        <% if(updatable) { %>
            <select id="selectAccountType" name="accountType" required>
        <% } else { %>
            <select id="selectAccountType" disabled name="accountType" required>
        <% } %>
                <option value=""></option>
                  <% for(var i in accountTypeList ) { %>
                      <% if (assignAccountType === i ) { %>
                          <option value=<%= i %> selected><%= accountTypeList[i] %>(<%= i %>)</option>
                      <% } else {%>
                          <option value=<%= i %>><%= accountTypeList[i] %>(<%= i %>)</option>
                      <% } %>
                  <% } %>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="ATH" value="<%= accessTokenHash %>">
            <% if(updatable) { %>
              <button type="submit" class="btn"><%= buttonLabelRegister %></button>
            <% } %>
        </div>
    </div>
</form>
<% if(successMessage) {%>
<p class="offset1"> <%= successMessage %> </p>
<% } %>
<% if(errRegisterAccountType) {%>
<p class="offset1"> <font color="red"><%= errRegisterAccountType %></font> </p>
<% } %>
<% } %>
