<h3><%= pageTitle %></h3>

<% if(error) { %>

<div><pre class="license"><%= message %></pre></div>

<% } else { %>

<% for(var _i = 0; _i < downloadCsvFile.length; _i++) { %>
    <p class="text-right">
    <a href="<%= downloadCsvFile[_i].path %>"><%= downloadCsvFile[_i].text %></a>
    </p>
<% } %>

<h4 class="text-info"><%= uploadText %></h4>

<% for(var _i = 0; _i < warningMessage.length; _i++) { %>
    <p class="text-warning"><%= warningMessage[_i] %></p>
<% } %>

<form class="form-horizontal" enctype="multipart/form-data" method="post" action="<%= actionPath %>">
    <div class="control-group">
    <% if(updatable) { %>
        <input type="file" name="upfile" accept="text/csv">
    <% } else { %>
        <input type="file" disabled name="upfile" accept="text/csv">
    <% } %>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="hidden" name="ATH" value="<%= accessTokenHash %>">
            <% if(updatable) { %>
                <button type="submit" class="btn"> <%= buttonLabel %> </button>
            <% } else { %>
                <button type="submit" disabled class="btn"> <%= buttonLabel %> </button>
            <% } %>
<% if (message) { %>
<span><pre class="license"><%= message %></pre></span>
<% } %>
        </div>
    </div>
</form>
<!-- log出力エリア -->
<div class="result-log">
<% for(var _i = 0; _i <  resultLog.length; _i++) { %>
  <%  var clsStr = (resultLog[_i].result == false) ? 'text-error' : '' %>
  <p class="<%= clsStr %>"><%= resultLog[_i].message %> </p>
<% } %>
</div>
<% } %>
<script src="<%= location %>/admintool/js/usercsv_ejs.js"></script>
