<!-- ユーザ新規登録 -->
<h3><%= pageTitle %></h3>
<h3 class="text-success">
    <% if (successMessage) { %>
        <%= successMessage %><br>
    <% } %>
</h3>

<form class="form-horizontal" name="userInfo">
    <div class="controls">
        <label class="control-label cursor-default"><%= account %></label>
        <div class="controls">
            <label class="display-control-label cursor-default"><%= txtAccount %></label>
        </div>
    </div>
    <div class="controls">
        <label class="control-label cursor-default"><%= nickname %></label>
        <div class="controls">
        <% if(txtNickname){ %>
            <label class="display-control-label cursor-default"><%= txtNickname %></label>
        <% } else { %>
            <!-- txtNicknameが空白の場合 -->
            <label class="display-control-label cursor-default"><%- noNickname %></label>
        <% } %>
        </div>
    </div>
    <div class="controls">
        <label class="control-label cursor-default" for="inputEmail"><%= email %></label>
        <div class="controls">
            <label class="display-control-label cursor-default"><%= txtEmail %></label>
        </div>
    </div>
</form>
