<!--Copyright 2020 NEC Solution Innovators, Ltd.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title><%= product_name %>システム管理</title>
        <link rel='stylesheet' href='stylesheets/admintool.css' />
        <link rel='stylesheet' href='stylesheets/bootstrap/css/bootstrap.min.css' />
        <script src='<%= location %>/admintool/js/libs/jquery/jquery-1.10.2.min.js'></script>
    </head>
    <body>
        <h3><%= product_name %> システム管理</h3>
        <form class="form-horizontal" method="post" action="<%= location %>/admintool/login">
            <div class="control-group">
                <label class="control-label" for="inputTenant">Tenant</label>
                <div class="controls">
                    <input type="text" id="inputTenant" placeholder="Tenant Name" name="tenantname">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAccount">Account</label>
                <div class="controls">
                    <input type="text" id="inputAccount" placeholder="Account" name="account">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password" name="pass">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">ログイン</button>
                </div>
            </div>
        </form>
        <p class="offset1 text-error">
            <% if (message) { %>
                <%= message %><br>
            <% } %>
        </p>
        <script src='<%= location %>/admintool/js/libs/bootstrap/bootstrap.js'></script>
    </body>
</html>